<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.schedule.record.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="Android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TodayEdit"/>
        <activity android:name=".FinishEdit"/>
        <activity android:name=".FutureEdit"/>
        <activity android:name=".Mode3CompletionScale"/>
        <activity android:name=".mainmy.MainMy1FutureSch"/>
        <activity android:name=".mainmy.MainMy2FinishSch"/>
        <activity android:name=".mainmy.MainMy3PassSch"/>
        <activity android:name=".mainmy.MainMyL1Doc"/>
        <activity android:name=".mainmy.MainMyL2General"/>
        <activity android:name=".mainmy.MainMyL2GInsert"/>
        <activity android:name=".mainmy.MainMyL3Special"/>
        <activity android:name=".mainmy.MainMyL4BoradcastSet"/>
        <activity android:name=".mainmy.MainMyL5Information"/>
        <activity android:name=".mainmy.MyL5NameSet"/>
        <activity android:name=".mainmy.MainMyLogonPhone"/>
        <activity android:name=".mainmy.MyLogonRegister"/>
        <activity android:name=".mainmy.MyLogonFoget"/>

        <activity android:name=".clock.AlarmActivityDialog"
            android:theme="@style/Base.V7.Theme.AppCompat.Light.Dialog"/>

        <!--<activity android:name=".clock.MainActivity1"-->
            <!--android:label="@string/app_name">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <service android:name=".clock.AlarmService"
            android:permission="Android.permission.SYSTEM_ALERT_WINDOW">
            <intent-filter>
                <action android:name="chief_musicService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name=".clock.AlarmReceiver" android:process=":remote"/>
    </application>
</manifest>